.sql-code-preview {
    font-family:courier;
}

.CodeMirror {
    border: 1px solid #ebebeb;
}

.query-handle {
    background: #f7f7f7;
    height: 20px;
    user-select: none;
    cursor: row-resize;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.query-handle:before {
    content: '\2261'; /* https://en.wikipedia.org/wiki/Triple_bar */
    color: #999;
    position: absolute;
    left: 50%;
}

.query-handle:hover {
    background: #f0f0f0;
}

.query-handle:hover:before {
    color: #000;
}

.collapsible-heading .chevron:after {
    content: "\f078";
}
.collapsible-heading.collapsed .chevron:after {
    content: "\f054";
}